.logo {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  margin-top: 1%
}

.navbar-nav {
  margin: auto;
}

.hometext {
  text-decoration: none;
  color: black;
}

.hometext:hover {
  color: black;

}
