:root {
  --light-blue: rgba(8, 232, 247, 0.25);
  --blue: #006eff;
}
.logo {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  margin-top: 1%
}
.logo2 {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  margin-bottom: 1%;
  margin-top: -1%;
  font-size: 175%;
}
.navbar-nav {
  margin: auto;
}

.hometext {
  text-decoration: none;
  color: black;
  font-size: 125%;
}

.hometext:hover {
  color: black;
}
#invis {
  border-top: 1px solid black;
  width: 27%;
  display: inline-block;
  padding-bottom: 1%;
}
.nav-des {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.nav-link {
color: black;
}
.nav-link:hover {
  background-color: rgba(8, 232, 247, 0.25);
  color: black;
}
.fpimg {
  padding-left: 8%;
  padding-top: 3%;
  height: 475px;
  width: 740px;
}
.fpdeti {
  padding-top: 20%;
}
.fpdesc {
  padding-right: 15%;
  font-size: 90%;
}
.blue {
  color: var(--blue);
}
.bl {
  background-color: black;
  height: 2px;
}
.sphead {
  text-align: center;
  letter-spacing: 9px;
  background-color: var(--light-blue);
  font-size: 350%;
  margin-top: 18%;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom: 5%;
}
.card-title {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
#sptit {
    background-color: var(--light-blue);
}
.recart {
  background-color: var(--light-blue);
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
#premtablerow {
padding-top: 2%;
}
.fptable {
  margin-left: 1%;
}
.cardpad {
  padding-left: 2%;
}
.cardpad2 {
  padding-top: 2%;
}
.cardbord {
  border: 2px solid black;
}
.spcard {
  border: 1px solid black;
}
.artimgtit {
  margin: auto;
  color: black;
  font-size: 200%;
}
.lit {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background-color: rgba(8, 232, 247, 0.9);
}

.litpop {
  overflow: hidden;
}

.tempimg{
  width: 150px;
  height: 150px;
  float: left;
}
.temptitle{
  margin-bottom: 0;
}
.tempsmall{
  margin: 0;
  display: inline;
}
.tempcontent{
  display: inline;
}

